/*     Assignment: Responsive Travel
             Name: Kari Cook
             Date: 6-30-2022
            Class: CIS130W01
            NOTE: All Breakpoint styles
            are located on responsiveStyles.css */
body {
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(Lake_Taneycomo.jpg);
  font-family: trebuchet;
}

h1 {
  font-size: 2em;
  text-align: center;
  background-size: cover;
  background: transparent;
  text-shadow: 1.5px 1.5px #30a0a4;
  padding-top: 33px;
  padding-bottom: 33px;
  border: 5px lightblue outset;
}

h2 {
  font-size: 1em;
  text-align: center;
  }

h3 {
  font-size: 2em;
  text-align: center;
  background-size: cover;
  background: transparent;
  text-shadow: 1.5px 1.5px #30a0a4;
  color: white;
  padding-top: 33px;
  padding-bottom: 33px;
  border: 5px lightblue outset;
  display: none;
}
h5 {
  font-size: 1.5em;
  text-align: center;
}
.box1 {
  font-size: 1.5em;
  text-align: center;
  background-color: #bbe4d8;
  margin-top: 50px;
  border: #30a0a4 solid 4px;
  border-radius: 2%;
  display: none;
}

.box2 {
  font-size: 1.5em;
  text-align: left;
  background-color: #30a0a4;
  background-size: cover;
  margin-top: 50px;
  border: #bbe4d8 solid 3px;
  border-radius: 2%;
}

.table {
  font-size: 1.5em;
  letter-spacing: 2px;
  background-color: lightblue;
  background-size: cover;
  margin-top: 50px;
  border: #30a0a4 solid 3px;
  border-radius: 3%;
}

 td {
  border: 2px #30a0a4 solid;
  text-align: left;
  padding: 10px;
}

th {
  text-align: center;
  font-size: 1.5em;
}

.form {
  background-image: url(cloudsunbg.png);
  background-size: cover;
  text-align: left;
  margin-top: 50px;
  width: 100%;
  border: 2px #30a0a4 ridge;
  border-radius: 2%;
}

h4 {
  font-size: 2em;
  text-align: center;
  text-shadow: 1.5px 1.5px #30a0a4;
}

.submit {
  border: 2px #30a0a4 solid;
  font-size: 1.5em;
}
